<launch>
<node pkg="pcd2pgm" name="pcd2pgm" type="pcd2pgm" output="screen">
<!-- Path for pcd file-->
<param name="file_directory" value= "/home/tang/" />
<!-- pcd file name-->
<param name="file_name" value= "my_map_fastlio" /> 
<!-- Minimum chosen height-->
<param name="thre_z_min" value= "0.55" />
<!-- Maximum chosen height-->
<param name="thre_z_max" value= "0.9" />  
<!--0 Chosen within range，１ chosen outside range-->
<param name="flag_pass_through" value= "0" />
<!-- Radius of radius filter-->
<param name="thre_radius" value= "0.1"/>
<!-- Point required by radius filter-->
<param name="thres_point_count" value= "10" />
<!-- Grid map resolution-->
<param name="map_resolution" value= "0.05"/>
<!-- Transformed grid map topic, default 'map', or to use map_server-->
<param name="map_topic_name" value= "map" />
</node>

</launch>
